.places {
  width: 100px;
  height: 100px;

}

.names {
  font-size: 30px;
}
ul {
  list-style: none;
}


* {
  text-align: center;
}

.paragraph {
  text-align: justify;
}

.packages {
  background-image: image("sand.jpeg");
}
