.image {
  width: 100px;
  height: 100px;

}

.names {
  font-size: 30px;
}
ul {
  list-style: none;
}


* {
  text-align: center;
}

.paragraph {
  text-align: justify;
}

.package-detail {
  font-size: 15px;
  text-align: center;
}
